<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="conteiner-fluid">
            <div class="row">
                <div *ngFor="let p of products" class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product-box">

                        <a [routerLink]="['/products', p.id]">
                            <img src="{{ p.imageUrl }}" class="img-responsive ">
                        </a>

                        <a [routerLink]="['/products', p.id]">
                            <h1>{{ p.name }}</h1>
                        </a>

                        <div class="price">{{ p.unitPrice | currency:"USD" }}</div>
                        <a (click)="addToCart(p)" class="btn primary-btn btn-sm">Add to cart</a>
                    </div>
                </div>

                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-6" role="alert">
                    No products found.
                </div>
            </div>

            <!--Begin footer-->

            <div class="footer-pagination d-flex justify-content-center">
                <div class="row">
                    <div class="mt-md-6">
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9">

                                <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize"
                                    [collectionSize]="totalElements" (pageChange)="listProducts()"
                                    [maxSize]="7">

                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mt-2 pr-2" style="text-align: right;">
                    <span class="me-2">Page Size</span>

                    <select #pageCountSelect (change)="updatePageSize(pageCountSelect.value)">
                        <option value="5">5</option>
                        <option selected="true" value="12">12</option>
                        <option value="16">16</option>
                        <option value="20">20</option>
                    </select>
                </div>

            </div>

            <!--End footer-->

        </div>
    </div>
</div>